@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(ellipse at center, #1c1c2b 0%, #0a0a0f 100%);
  background-color: #0a0a23;
  color: white;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scrollbar-width: none; 
}

body::-webkit-scrollbar {
  display: none; 
}
